# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Cmake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Executable files
ibus-engine-varnam
varnam-sync

# libvarnam
*.learnings*

